# Based on your OS, uncomment one of 2 following SASS_PATH entries
# SASS_PATH=./node_modules;./src # For Windows OS
# SASS_PATH=node_modules:src # For Unix OS
BROWSER=none
REACT_APP_API_KEY=315692df-d658-4207-8967-ca63b6045683
REACT_APP_API_KEY_HASH=46a42d7e4b71016a041b72bc8f5f660498e127674f556705ea5d3b9d77817850
REACT_APP_ENVIRONMENT=prod